#bell{
    margin-right:20%;
    margin-top:20px;
    text-decoration:none;
}

#notification-count{
    position:relative;
    background-color:#A0B6C3;
    top:-35px;
    font-size:x-small;
    color:white;
    left:45%;
    border-radius:50%;
    height:20px;
    width:20px;
    text-align:center;
    line-height:18px;
    border:1px solid #fff;
}

#notification-panel{
    position:relative;
    width:24%;
    right:8%;
    display:none;
}

#notification-panel > .panel-heading{
    height:60px;
    text-align:center;
    line-height:36px;
    color:#7F7D97;
    font-weight:bold;
    font-size:medium;
    background-color:#ffffff;
}

#notification-panel > .panel-heading > #panel-notification-count{
    display:inline-block;
    border-radius:50%;
    width:22px;
    height:22px;
    line-height:24px;
    font-size:small;
    color:#fff;
    background-color:#A0B6C3;
    vertical-align:middle;
    position:relative;
    top:-5%;
}

.panel-body{
    padding:0px;
}

.list-group{
    margin-bottom:0px;
    background-color:#e3e3e3;
}

.list-group-item{
    border-left:0px;
    border-right:0px;
    border-radius:0px;
    height:60px;
    background-color:transparent;
    display:none;
    color:#7F7D97;
}

.list-group-item > .col-xs-10 > span{
    color : #7F7D97;
    font-weight:700;
}

.list-group-item:first-child{
    border-top:0px;
}

.list-group-item:last-child{
    border-bottom:0px;
}

.list-group > .row{
    margin:0px;
}

.list-group-item > .col-xs-2{
    padding:0px;
}

.img-circle{
    width:100%;
    height:100%;
    border-radius:50%;
}

i{
    color:#A0B6C3;
}